<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.user.mapper.UserInfoMapper">

    <select id="selectAuthStatusById" resultType="java.lang.Integer">
        select `auth_status` from user_info where `id` = #{id}
    </select>
</mapper>
